.isDisabled {
    color: "#6e768e";
    cursor: not-allowed;
    opacity: 0.5;
    text-decoration: none;
    pointer-events: none;

  }

  .text-danger
  {
    margin-left: 2px;
    font-weight: bold;
  }